<body>
    <div class="map">
        <div class="station" id="elRosario">
            <div class="station-node"></div>
            <p class="station-name">El Rosario</p>
        </div>
        <div class="station" id="institutoPetroleo">
            <div class="station-node"></div>
            <p class="station-name">Instituto del Petróleo</p>
        </div>
        <div class="station" id="deportivo">
            <div class="station-node"></div>
            <p class="station-name">Deportivo 18 de Marzo</p>
        </div>
        <div class="station" id="martinCarrera">
            <div class="station-node"></div>
            <p class="station-name">Martin Carrera</p>
        </div>
        <div class="station" id="tacuba">
            <div class="station-node"></div>
            <p class="station-name">Tacuba</p>
        </div>
        <div class="station" id="tacubaya">
            <div class="station-node"></div>
            <p class="station-name">Tacubaya</p>
        </div>
        <div class="station" id="laRaza">
            <div class="station-node"></div>
            <p class="station-name">La Raza</p>
        </div>
        <div class="station" id="consulado">
            <div class="station-node"></div>
            <p class="station-name">Consulado</p>
        </div>
        <div class="station" id="oceania">
            <div class="station-node"></div>
            <p class="station-name">Oceania</p>
        </div>
        <div class="station" id="pantitlan">
            <div class="station-node"></div>
            <p class="station-name">Pantitlan</p>
        </div>
        <div class="station" id="morelos">
            <div class="station-node"></div>
            <p class="station-name">Morelos</p>
        </div>
        <div class="station" id="candelaria">
            <div class="station-node"></div>
            <p class="station-name">Candelaria</p>
        </div>
        <div class="station" id="jamaica">
            <div class="station-node"></div>
            <p class="station-name">Jamaica</p>
        </div>
        <div class="station" id="santaAnita">
            <div class="station-node"></div>
            <p class="station-name">Santa Anita</p>
        </div>
        <div class="station" id="chabacano">
            <div class="station-node"></div>
            <p class="station-name">Chabacano</p>
        </div>
        <div class="station" id="centroMedico">
            <div class="station-node"></div>
            <p class="station-name">Centro Medico</p>
        </div>
        <div class="station" id="guerrero">
            <div class="station-node"></div>
            <p class="station-name">Guerrero</p>
        </div>
        <div class="station" id="hidalgo">
            <div class="station-node"></div>
            <p class="station-name">Hidalgo</p>
        </div>
        <div class="station" id="balderas">
            <div class="station-node"></div>
            <p class="station-name">Balderas</p>
        </div>
        <div class="station" id="bellasArtes">
            <div class="station-node"></div>
            <p class="station-name">Bellas Artes</p>
        </div>
        <div class="station" id="pinoSuarez">
            <div class="station-node"></div>
            <p class="station-name">Pino Suarez</p>
        </div>
        <div class="station" id="garibaldi">
            <div class="station-node"></div>
            <p class="station-name">Garibaldi</p>
        </div>
        <div class="station" id="saltoAgua">
            <div class="station-node"></div>
            <p class="station-name">Salto del Agua</p>
        </div>
        <div class="station" id="sanLazaro">
            <div class="station-node"></div>
            <p class="station-name">San Lazaro</p>
        </div>
    </div>

    <script src="static/generate_map.js"></script>
</body>